*{
  box-sizing: border-box;  
}

body{
    /* position: relative; */
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

header{
   background-color: white;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
   display: flex;
   justify-content: space-between;
   padding: 20px;

   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
}

header img{
    width: 75px;
    height: 53px;
    /* display: none; */
}

header ion-icon{
    width: 75px;
    height: 53px;
}

main{
    /* background-color: blueviolet; */
    margin: 115px 0px;
}

main .message{
    /* border: 1px solid red; */
    margin-top: 4px;
    border-radius: 2px;
    padding: 12px 8px;
    
    font-size: 14px;
    line-height: 20px;
}

main .status-message{
    background-color: #DCDCDC;
}

main .normal-message{
    background-color:   #FFFFFF;
}

main .reserved-message{
    background-color: #FFDEDE;
}

time{
    color: #AAAAAA;
}

strong{
    font-weight: bold;
}

/* main *{
    margin-bottom: 10px;
} */

footer{
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: space-between;
    padding: 20px;
 
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;

   
}

footer input{
    margin-bottom: 3px;
    border: none;
    size: 50px;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    width: 300px;
}

footer p{
    font-size: 14px;
    line-height: 25px;
    color: #AAAAAA;
}

footer ion-icon{
    font-size: 40px;
    font-size: 35px;
}

aside{
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

aside .transparent-area{
    background-color: rgba(5, 2, 2, 0.493);
    width: 40%;
    height: 100%;
}

aside .aside-bar{
    background-color: rgba(255, 255, 255, 1);
    width: 60%;
    height: 100%;
    overflow-y: scroll;
}

aside section{
    /* background-color: red; */
    margin: 20px 20px;
    font-size: 16px;
    line-height: 19px;
    
}

aside h1{
    /* background-color: green; */
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

aside p{
    margin-left: 30px;
    margin-top: 10px;
    line-height: 25px;
    /* background-color: yellow; */
    overflow-x: hidden;
}

aside li{
    /* background-color: yellow; */
    margin-top: 8px;
    position: relative;
}

li ion-icon:first-child{
    font-size: 25px;
    position: absolute;
    left: 0px;
    top: 0px;
}

li ion-icon:last-child{
    font-size: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    color: green;
}

.hidden{
    display: none;
}